// *********** REACT ARIA DIALOG ************

.c-react-aria__dialog {
    padding: 1.875em;
}

// *********** REACT ARIA POPUP ************

.c-react-aria__popup {
    position: fixed;
    inset: 0;
}
